{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="keywords" content="foo,bar" />
        <meta name="description" content="foo" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Hello Yoba!</title>
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
    </head>
    <body>
        wassap
        {% block content %}
        {% endblock content %}

    <div class="bg-red-500">With red bg1</div>
    </body>
</html>